.App {
  width: 60%;
  min-height: 65dvh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background: rgba(128, 128, 128, 0.4);
  padding: 1.25rem;
  border-radius: 0.75rem;
  color: white;
}
